{
  "singleQuote": true,
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-stylus"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
