@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes bounceIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slideFadeUp {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideFadeLeft {
	0% {
		transform: translateX(-10px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideFadeRight {
	0% {
		transform: translateX(10px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideFadeRotate {
	0% {
		transform: rotate(-10deg);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg);
		opacity: 1;
	}
}

@keyframes kirakira {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.7;
	}
	50% {
		opacity: 0.3;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}